#head {
    background-color:#4aaaa5;
    padding: 23px;
    position: fixed;
    top: 0;
    float: left;
    margin-left: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#dddddd;
    border-bottom: #cccccc;
    border-bottom-style: 10px;
    z-index: 2;

}

.container {
    background-color:#dddddd;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 10%;
    text-align: right;
    width: 100%;
    z-index: 1;
}

a {
    color:#777777;
}

body {
    background: url(../images/circles-light.png) no-repeat fixed;
    background-repeat: repeat;
}

.box {
    background-color:#ffffff;
    height: 450px;
    margin: 120px;
    padding: 50px;
}

.box2 {
    background-color:#ffffff;
    height: 1000px;
    margin: 120px;
    padding: 50px;
}

.box3 {
    background-color:#ffffff;
    margin: 120px;
    padding: 50px;
}

#form {
    color:#777777;
}

textarea {
    width: 850px;
    height: 300px;
}

input[type=text] {
    width: 850px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color:#dddddd;
    padding: 7px;
    width: 10%;
}

h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: #cccccc;
    border-bottom-width: 60%;
}

p {
    line-height: 1.4;
}

img {
    height: 300px;
    width: 420px;
    margin-right: 10px;
    float: left;
}

#img1 {
    width: 300px;
    margin-right: 25%;
}

#img2 {
    width: 230px;
}

#img3 {
    width: 300px;
    margin-right: 20%;
}

#img4 {
    width: 300px;
}

#img5 {
    width: 230px;
    margin-right: 24%;
    margin-left: 5%;
}

#img6 {
    width: 300px;
}

.paragraph {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer {
    background-color:#666666;
    text-align: center;
    color:#dddddd;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-color: #4aaaa5;
    border-width: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}